{% extends 'index.html' %}
{%load static %}
{% block main %}
    <div class="container-fluid mt-5">
        <div class="container">

            <form method="post">
                {% csrf_token %}
                    <div class="form-group">
                        <label for="inputUsername">Username</label>
                        <input type="text" class="form-control is-valid" name="um" id="inputUsername" placeholder="Username"  required>

                      <div class="form-group">
                        <label for="inputPassword">Password</label>
                        <input type="password" class="form-control is-invalid" name="psw" id="inputPassword" placeholder="Password" required>
                    </div>
                    <button type="submit" class="btn btn-primary">Login</button>
            </form>


        </div>

    </div>
{% endblock %}
